
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --font-family: "Montserrat";
  --button-color: #02b1d3;
  --border-radius: 3px;
  --border-color: #cccccc;
}

.form-template.dark {
  color: #ffffff;
}

.form-template.dark p,
.form-template.dark form p {
  color: #ffffff;
}

.form-template.dark a,
.form-template.dark form a {
  color: var(--button-color);
}

.form-template.dark #pardot-form label {
  color: #ffffff;
}

.form-template.dark #pardot-form input[type="text"], 
.form-template.dark #pardot-form select {
  background-color: #ffffff;
  border: 0;
  box-shadow: 2px 2px 0px rgba(0,0,0,0.1);
}