
:root {
  --font-family: "Arial";
  --button-color: #ee272e;
  --border-radius: 30px;
  --border-color: #cccccc;
}

.form-template.dark {
  color: #ffffff;
}

.form-template.dark form p {
  color: #ffffff;
}

.form-template.dark a,
.form-template.dark form a {
  color: var(--button-color);
}

.form-template.dark #pardot-form label {
  color: #ffffff;
}

.form-template.dark #pardot-form input[type="text"], 
.form-template.dark #pardot-form select,
.form-template.dark #pardot-form textarea {
  background-color: #ffffff;
  border: 0;
  box-shadow: 2px 2px 0px rgba(0,0,0,0.1);
}